
<%=javascript_include_tag "core.js"%>
<%=javascript_include_tag "prism.js"%>
<%=javascript_include_tag "clipboard.min.js"%>
<%=javascript_include_tag "feather.min.js"%>
<%=javascript_include_tag "template.js"%>
<div class="page-content">
                <div class="row">
                    <div class="col-xl-10 main-content pl-xl-4 pr-xl-5">
                        <h1 class="page-title">Media Object</h1>
                        <hr>
                        <h4 id="default">Basic example</h4>
                        <p class="mb-3">The media object helps build complex and repetitive components where some media is positioned alongside content that doesn’t wrap around said media. Plus, it does this with only two required classes thanks to flexbox.</p>
                        <div class="example">
                            <div class="media d-block d-sm-flex">
                                
                                 <%= image_tag("placeholder.jpg", :alt => "...", :class => "wd-100p wd-sm-200 mb-3 mb-sm-0 mr-3") %>
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </div>
                        </div>
                        <figure class="highlight" id="Default">
                            <pre><code class="language-markup"><script type="script/prism-html-markup"><div class="media d-block d-sm-flex">
    <img src="..." class="wd-100p wd-sm-200 mb-3 mb-sm-0 mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </div>
</div></script></code></pre>
                            <button type="button" class="btn btn-clipboard" data-clipboard-target="#Default"><i data-feather="copy"></i></button>
                        </figure>
                                        
                    </div>                   
                </div>
            </div>
