<div class="page-content">

				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Advanced UI</a></li>
						<li class="breadcrumb-item active" aria-current="page">Owl Carousel</li>
					</ol>
				</nav>

				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Owl Carousel 2</h4>
                			</div>
						</div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Basic Example</h6>
                <div class="owl-carousel owl-theme owl-basic">
                  <div class="item">
                    <%= image_tag("carousel/img1.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img2.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img3.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img4.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img5.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img6.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img7.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img8.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img9.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img10.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                 <%= image_tag("carousel/img11.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img12.jpg", alt: "item-image")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Auto Play</h6>
                <div class="owl-carousel owl-theme owl-auto-play">
                 <div class="item">
                    <%= image_tag("carousel/img1.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img2.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img3.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img4.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img5.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img6.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img7.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img8.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img9.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img10.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                 <%= image_tag("carousel/img11.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img12.jpg", alt: "item-image")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Animation</h6>
                <p class="card-description">fadeout</p>
                <div class="owl-carousel owl-theme owl-fadeout">
                  <div class="item">
                    <%= image_tag("carousel/img2.jpg", alt: "item-image")%>
                  </div>
                   <div class="item">
                    <%= image_tag("carousel/img1.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img2.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img3.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img4.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img5.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img6.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img7.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img8.jpg", alt: "item-image")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Animation</h6>
                <p class="card-description">Using <a href="https://daneden.github.io/animate.css/" target="_blank">animate.css</a> library.</p>
                <div class="owl-carousel owl-theme owl-animate-css">
                   <div class="item">
                     <%= image_tag("carousel/img5.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img6.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img7.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img8.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img9.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img10.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                 <%= image_tag("carousel/img11.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img12.jpg", alt: "item-image")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Mousewheel</h6>
                <p class="card-description">To add mouswheel scrolling just include the fantastic plugin <a href="https://github.com/brandonaaron/jquery-mousewheel" target="_blank">jquery.mousewheel.js</a>.</p>
                <div class="owl-carousel owl-theme owl-mouse-wheel">
                 <div class="item">
                    <%= image_tag("carousel/img1.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img2.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img3.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img4.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img5.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img6.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img7.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img8.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                   <%= image_tag("carousel/img9.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                    <%= image_tag("carousel/img10.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                 <%= image_tag("carousel/img11.jpg", alt: "item-image")%>
                  </div>
                  <div class="item">
                     <%= image_tag("carousel/img12.jpg", alt: "item-image")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

			</div>