<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
      <div class="brand-logo text-center">
        <%= image_tag "brand-logo.png", :width => "120" ,:alt=> "brand-logo" %>
      </div>
      <div class="authfy-login">
        <div class="authfy-panel panel-forgot active">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="authfy-heading">
                <h3 class="auth-title"> Change your password </h3>
                <p>Please enter the new password </p>
              </div>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.hidden_field :reset_password_token %>
                <div class="form-group">
                  <div class="pwdMask">
                    <%= f.password_field :password , class: "form-control password", placeholder: "Password", autofocus: true, autocomplete: "new-password" %>
                  </div>
                </div>
                  <div class="form-group">
                  <div class="pwdMask">
                    <%= f.password_field :password_confirmation, class: "form-control password", placeholder: "Password Confirm" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.submit "Change password", class: "btn btn-lg btn-primary btn-block" %>
                </div>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div> 
</div> 





